* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    @include setBrowserCores(box-sizing, border-box);
}

body {
    font-family: $font-secondary;
    font-size: 1rem;
    color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-primary;
    font-family: $font-primary;
    font-weight: 600;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.4em;
}

img {
    width: auto;
    max-width: 100%;
    @include setBrowserCores(object-fit, cover, "o");
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 8px;
    border: 1px solid rgba(47, 85, 96, 0.4);
    resize: none;
    outline: none;
    border-radius: 10px;

    &::-webkit-input-placeholder, &::placeholder {
        color: #CCC;
    }
}

@include theme() {
    &section-title {
        font-size: 1.3em;
        margin-bottom: 20px;
        text-align: center;

        @include setResponsiveDesign($breakpoint-mobile-landscape) {
            text-align: start;
            font-size: 1.6em;
        }
    }

    &page-title {
        @include containerFluid;
        @include sectionClearance;
        background-color: $color-dark-mint;

        @include backgroundOverlay("bg_s/bg.jpg");
        z-index: 1;

        @include setResponsiveDesign($breakpoint-mobile-landscape) {
            font-size: 1.6em;
        }

        @include setResponsiveDesign($breakpoint-tablet-landscape) {            
            font-size: 2.2em;
        }

        &::after {
            content: "";
            @include absoluteFull(0, 0, true);
            z-index: 2;
            background-image: linear-gradient(to tight, $color-dark-mint, transparent);
        }

        .pv-divider {
            background-color: $color-secondary;
            margin-top: 10px;
        }

        .container {
            @include container
        }
    }

    &button {
        font-family: $font-secondary;
        font-weight: 600;
        font-size: inherit;
        color: $color-white;
        background-color: $color-secondary;
        border-radius: 30px;
        padding: 14px 28px;
        border: none;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        @include transition;

        &:hover {
            background-color: $color-pink-hover;
        }

        & i {
            margin-right: 10px;
        }
    }

    &divider {
        width: 60px;
        height: 5px;
        background-color: $color-dark-mint;
        margin-bottom: 10px;

        &-centered {
            margin-left: auto;
            margin-right: auto;
        }

        &-title {            
            margin-inline: auto;

            @include setResponsiveDesign($breakpoint-mobile-landscape) {
                margin-inline: 0;
            }
        }
    }

    &section-model1 {
        @include flex;
        flex-direction: column;
        gap: 40px;
        padding-block: 60px;

        @include container(600px, 0);

        @include setResponsiveDesign($breakpoint-mobile-landscape) {
            padding-block: 100px;
        }

        @include setResponsiveDesign($breakpoint-tablet-landscape) {
            max-width: none;
            flex-direction: row;
            flex-wrap: nowrap
        }

        .image {
            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                @include flex2;
            }

            img {
                @include borderRadius;
            }
        }

        .content {
            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                @include flex2;
            }

            .info {
                margin-bottom: 20px;
            }
        }

        .button {
            width: 100%;

            @include setResponsiveDesign($breakpoint-mobile-landscape) {
                width: auto;
            }
        }
    }

    &section-model2 {
        background-color: $color-accent;

        .title {
            margin-bottom: 40px;

            h1 {
                text-align: center !important;
            }
        }

        .list {
            @include flex(flex-start, stretch);
            gap: 20px;
        }

        .item {
            @include container($breakpoint-mobile);
            @include flex1;
            text-align: center;
            background-color: $color-white;
            padding: 20px;
            @include borderRadius;

            @include setResponsiveDesign($breakpoint-mobile-landscape) {
                @include flex2(20px);
                max-width: none;
            }

            &-image {
                margin-bottom: 20px;
            }

            &-title {
                margin-bottom: 20px;

                h2 {
                    color: $color-secondary;
                }
            }
        }        
    }

    &card-model1 {
        @include flex(flex-start, stretch, nowrap);
        flex-direction: column;
        @include container(460px, 0);
        @include borderRadius(30px);
        overflow: hidden;
        background-color: $color-light-mint;
        box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.1);

        @include setResponsiveDesign($breakpoint-tablet) {
            max-width: 900px;
            flex-direction: row;
        }

        .image {
            figure, img {
                width: 100%;
                height: 100%;
            }
        }

        .content {
            @include flexBasis(60%);
            @include flex(center, flex-start);
            flex-direction: column;
            padding: 40px;
        }

        .title {
            font-size: 1.2em;
        }

        .text {
            margin-bottom: 20px;
        }

        .button {
            width: 100%;

            @include setResponsiveDesign($breakpoint-tablet) {
                width: auto;
            }
        }
    }

    &form-control {
        @include containerFluid;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        & > * {
            display: block;
            @include containerFluid;
        }

        label {
            margin-bottom: 7px;
            font-size: 0.875em;
            color: $color-primary;
        }
    }
}

@import "template/header";
@import "template/footer";

@import "template/pages/home/hero";
@import "template/pages/home/about";
@import "template/pages/home/services";
@import "template/pages/home/cta";

@import "template/pages/sobre/about";
@import "template/pages/sobre/specialists";

@import "template/pages/servicos/services";

@import "template/pages/contato/contact";
@import "template/pages/contato/map";