// COLORS
$color-primary: #2F5560;
$color-secondary: #D8767B;
$color-text: #55686D;
$color-accent: #FEF8EC;
$color-pink-hover: #D26066;
$color-light-mint: #F1F8F6;
$color-dark-mint: #B5DDD0;
$color-white: #FFF;

// FONTS
$font-primary: "Yeseva One", serif;
$font-secondary: "Josefin Sans", sans-serif;