@include theme() {
    &specialists {
        @include containerFluid;
        @include sectionClearance;

        &__container {
            @include container;
        }

        &__item {
            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                flex-basis: calc((100% / 4) - 20px) !important;
            }

            &-image {
                img {
                    width: 140px;
                    height: 140px;
                    @include rounded;
                }
            }
        }
    }
}