@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #55686D;
}

h1, h2, h3, h4, h5, h6 {
  color: #2F5560;
  font-family: "Yeseva One", serif;
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4em;
}

img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 8px;
  border: 1px solid rgba(47, 85, 96, 0.4);
  resize: none;
  outline: none;
  border-radius: 10px;
}
input::-webkit-input-placeholder, input::placeholder, textarea::-webkit-input-placeholder, textarea::placeholder {
  color: #CCC;
}

.pv-section-title {
  font-size: 1.3em;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .pv-section-title {
    text-align: start;
    font-size: 1.6em;
  }
}
.pv-page-title {
  width: 100%;
  padding-block: 100px;
  background-color: #B5DDD0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .pv-page-title {
    padding-block: 60px;
  }
}
.pv-page-title > * {
  position: relative;
  z-index: 3;
}
.pv-page-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  mix-blend-mode: multiply;
  background-image: url("../../../assets/images/bg_s/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.pv-page-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(to tight, #B5DDD0, transparent);
}
.pv-page-title .pv-divider {
  background-color: #D8767B;
  margin-top: 10px;
}
.pv-page-title .container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}
.pv-button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: inherit;
  color: #FFF;
  background-color: #D8767B;
  border-radius: 30px;
  padding: 14px 28px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 300ms ease 0s;
}
.pv-button:hover {
  background-color: #D26066;
}
.pv-button i {
  margin-right: 10px;
}
.pv-divider {
  width: 60px;
  height: 5px;
  background-color: #B5DDD0;
  margin-bottom: 10px;
}
.pv-divider-centered {
  margin-left: auto;
  margin-right: auto;
}
.pv-divider-title {
  margin-inline: auto;
}
@media screen and (min-width: 600px) {
  .pv-divider-title {
    margin-inline: 0;
  }
}
.pv-section-model1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  padding-block: 60px;
  max-width: 600px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 600px) {
  .pv-section-model1 {
    padding-block: 100px;
  }
}
@media screen and (min-width: 900px) {
  .pv-section-model1 {
    max-width: none;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.pv-section-model1-alt {
  background-color: #FEF8EC;
}
@media screen and (min-width: 900px) {
  .pv-section-model1-alt {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 900px) {
  .pv-section-model1 .image {
    flex-basis: 50%;
  }
}
.pv-section-model1 .image img {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
@media screen and (min-width: 900px) {
  .pv-section-model1 .content {
    flex-basis: 50%;
  }
}
.pv-section-model1 .content .info {
  margin-bottom: 20px;
}
.pv-section-model1 .button {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .pv-section-model1 .button {
    width: auto;
  }
}
.pv-section-model2 {
  background-color: #FEF8EC;
}
.pv-section-model2 .title {
  margin-bottom: 40px;
}
.pv-section-model2 .title h1 {
  text-align: center !important;
}
.pv-section-model2 .list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.pv-section-model2 .item {
  max-width: 480px;
  padding-inline: 15px;
  margin-inline: auto;
  flex-basis: 100%;
  text-align: center;
  background-color: #FFF;
  padding: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
@media screen and (min-width: 600px) {
  .pv-section-model2 .item {
    flex-basis: calc(50% - 20px);
    flex-grow: 1;
    max-width: none;
  }
}
.pv-section-model2 .item-image {
  margin-bottom: 20px;
}
.pv-section-model2 .item-title {
  margin-bottom: 20px;
}
.pv-section-model2 .item-title h2 {
  color: #D8767B;
}
.pv-card-model1 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 460px;
  padding-inline: 0;
  margin-inline: auto;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  overflow: hidden;
  background-color: #F1F8F6;
  box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .pv-card-model1 {
    max-width: 900px;
    flex-direction: row;
  }
}
.pv-card-model1 .image figure, .pv-card-model1 .image img {
  width: 100%;
  height: 100%;
}
.pv-card-model1 .content {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
}
.pv-card-model1 .title {
  font-size: 1.2em;
}
.pv-card-model1 .text {
  margin-bottom: 20px;
}
.pv-card-model1 .button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pv-card-model1 .button {
    width: auto;
  }
}

.pv-header {
  width: 100%;
  position: relative;
}
.pv-header__background {
  background-color: #2F5560;
  padding-block: 15px;
}
@media screen and (min-width: 900px) {
  .pv-header__background {
    padding-block: 0;
  }
}
.pv-header__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.pv-header__page-title {
  display: none;
}
.pv-header__logo img {
  width: 240px;
}
.pv-header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pv-header__menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #D8767B;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .pv-header__menu-icon {
    display: none;
  }
}
.pv-header__menu-icon i {
  color: #FFF;
  font-size: 1.4em;
}
.pv-header__menu {
  position: absolute;
  top: 100%;
  left: unset;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  right: 0;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  background-color: #FFF;
  z-index: 10;
  display: none;
}
@media screen and (min-width: 900px) {
  .pv-header__menu {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    position: static;
    background: none;
    height: 100%;
  }
}
.pv-header__menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.pv-header__menu-item a {
  display: inline-flex;
  align-items: center;
  color: #2F5560;
  font-weight: 600;
  font-size: 1.2em;
  padding: 15px 30px;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .pv-header__menu-item a {
    color: #FFF;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .pv-header__menu-item a {
    padding: 0 30px;
  }
}
.pv-header__menu-item a:hover, .pv-header__menu-item a:active {
  background-color: #FEF8EC;
}
@media screen and (min-width: 900px) {
  .pv-header__menu-item a:hover, .pv-header__menu-item a:active {
    background-color: #D8767B;
  }
}

.pv-footer {
  width: 100%;
  padding-block: 100px;
  background-color: #2F5560;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 600px) {
  .pv-footer {
    padding-block: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .pv-footer {
    padding-block: 60px;
  }
}
.pv-footer h1 {
  color: #FFF;
}
.pv-footer a {
  color: inherit;
}
.pv-footer__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .pv-footer__container {
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 20px;
  }
}
.pv-footer__presentation {
  flex-basis: 100%;
}
@media screen and (min-width: 1024px) {
  .pv-footer__presentation {
    flex-basis: 30%;
    flex-grow: 0;
  }
}
.pv-footer__logo {
  margin-bottom: 20px;
}
.pv-footer__logo img {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .pv-footer__logo img {
    width: auto;
  }
}
.pv-footer__presentation-text {
  margin-bottom: 10px;
}
.pv-footer__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.pv-footer__social a {
  color: #FFF;
  font-size: 1.4em;
  width: 40px;
  height: 40px;
  background-color: #D8767B;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 300ms ease 0s;
}
.pv-footer__social a:hover {
  transform: scale(1.1);
}
.pv-footer__navigation {
  flex-basis: 100%;
}
@media screen and (min-width: 600px) {
  .pv-footer__navigation {
    flex-basis: calc(50% - 40px);
    flex-grow: 1;
  }
}
@media screen and (min-width: 1024px) {
  .pv-footer__navigation {
    flex-basis: 30%;
    flex-grow: 0;
  }
}
.pv-footer__contact {
  flex-basis: 100%;
}
@media screen and (min-width: 600px) {
  .pv-footer__contact {
    flex-basis: calc(50% - 40px);
    flex-grow: 1;
  }
}
@media screen and (min-width: 1024px) {
  .pv-footer__contact {
    flex-basis: 30%;
    flex-grow: 0;
  }
}
.pv-footer__title {
  font-size: 1.4em;
  margin-bottom: 20px;
}
.pv-footer__list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.pv-footer__list li:not(:last-child) {
  margin-bottom: 20px;
}
.pv-footer__list li .icon {
  font-size: 0.7em;
}
.pv-footer__attribution {
  padding-inline: 15px;
  padding-top: 30px;
  text-align: center;
  font-size: 0.8em;
}
.pv-footer__attribution a {
  color: #D8767B;
}
.pv-footer__attribution a:hover {
  text-decoration: underline;
}

.pv-hero {
  width: 100%;
  background-image: url("../../../assets/images/bg_s/banner-inicial-psicovida.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: #B5DDD0;
  padding-block: 100px;
}
@media screen and (min-width: 768px) {
  .pv-hero {
    background-position: center center;
  }
}
.pv-hero__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .pv-hero__container {
    min-height: 800px;
    justify-content: flex-start;
  }
}
.pv-hero__content {
  flex-basis: 100%;
  max-width: 600px;
  padding-inline: 0;
  margin-inline: auto;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .pv-hero__content {
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .pv-hero__content {
    flex-basis: 70%;
    max-width: auto;
    margin: 0;
  }
}
.pv-hero__title {
  font-size: 3em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .pv-hero__title {
    font-size: 3.6em;
  }
}
@media screen and (min-width: 1366px) {
  .pv-hero__title {
    font-size: 4em;
  }
}
.pv-hero__headline {
  font-size: 1.2em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1366px) {
  .pv-hero__headline {
    font-size: 1.8em;
  }
}
.pv-hero__cta {
  font-weight: 600;
  width: 100%;
  transition: all 300ms ease 0s;
}
.pv-hero__cta:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 480px) {
  .pv-hero__cta {
    font-size: 1.2em;
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .pv-hero__cta {
    padding: 20px 60px;
  }
}

.pv-about {
  width: 100%;
  padding-block: 100px;
}
@media screen and (max-width: 600px) {
  .pv-about {
    padding-block: 60px;
  }
}
.pv-about__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}
.pv-about__content {
  padding-block: 0 !important;
}

.pv-services {
  width: 100%;
  padding-block: 100px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .pv-services {
    padding-block: 60px;
  }
}
.pv-services > * {
  position: relative;
  z-index: 3;
}
.pv-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  mix-blend-mode: multiply;
  background-image: url("../../../assets/images/bg_s/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.pv-services__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .pv-services__item {
    flex-basis: calc(33.3333333333% - 20px) !important;
  }
}
.pv-services__item-image img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.pv-cta {
  width: 100%;
  padding-block: 100px;
}
@media screen and (max-width: 600px) {
  .pv-cta {
    padding-block: 60px;
  }
}
.pv-cta__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}

.pv-page-about {
  width: 100%;
  padding-block: 100px;
}
@media screen and (max-width: 600px) {
  .pv-page-about {
    padding-block: 60px;
  }
}
.pv-page-about__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}
.pv-page-about__content {
  padding-block: 0;
}

.pv-specialists {
  width: 100%;
  padding-block: 100px;
}
@media screen and (max-width: 600px) {
  .pv-specialists {
    padding-block: 60px;
  }
}
.pv-specialists__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .pv-specialists__item {
    flex-basis: calc(25% - 20px) !important;
  }
}
.pv-specialists__item-image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}