@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #55686D;
}

h1, h2, h3, h4, h5, h6 {
  color: #2F5560;
  font-family: "Yeseva One", serif;
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4em;
}

img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 8px;
  border: 1px solid rgba(47, 85, 96, 0.4);
  resize: none;
  outline: none;
  border-radius: 10px;
}
input::-webkit-input-placeholder, input::placeholder, textarea::-webkit-input-placeholder, textarea::placeholder {
  color: #CCC;
}

.pv-section-title {
  font-size: 1.3em;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .pv-section-title {
    text-align: start;
    font-size: 1.6em;
  }
}
.pv-button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: inherit;
  color: #FFF;
  background-color: #D8767B;
  border-radius: 30px;
  padding: 14px 28px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 300ms ease 0s;
}
.pv-button:hover {
  background-color: #D26066;
}
.pv-button i {
  margin-right: 10px;
}
.pv-divider {
  width: 60px;
  height: 5px;
  background-color: #B5DDD0;
  margin-bottom: 10px;
}
.pv-divider.centered {
  margin-left: auto;
  margin-right: auto;
}

.pv-header {
  width: 100%;
  position: relative;
}
.pv-header__background {
  background-color: #2F5560;
  padding-block: 15px;
}
@media screen and (min-width: 900px) {
  .pv-header__background {
    padding-block: 0;
  }
}
.pv-header__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.pv-header__page-title {
  display: none;
}
.pv-header__logo img {
  width: 240px;
}
.pv-header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pv-header__menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #D8767B;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .pv-header__menu-icon {
    display: none;
  }
}
.pv-header__menu-icon i {
  color: #FFF;
  font-size: 1.4em;
}
.pv-header__menu {
  position: absolute;
  top: 100%;
  left: unset;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  right: 0;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  background-color: #FFF;
  z-index: 10;
  display: none;
}
@media screen and (min-width: 900px) {
  .pv-header__menu {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    position: static;
    background: none;
    height: 100%;
  }
}
.pv-header__menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.pv-header__menu-item a {
  display: inline-flex;
  align-items: center;
  color: #2F5560;
  font-weight: 600;
  font-size: 1.2em;
  padding: 15px 30px;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .pv-header__menu-item a {
    color: #FFF;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .pv-header__menu-item a {
    padding: 0 30px;
  }
}
.pv-header__menu-item a:hover, .pv-header__menu-item a:active {
  background-color: #FEF8EC;
}
@media screen and (min-width: 900px) {
  .pv-header__menu-item a:hover, .pv-header__menu-item a:active {
    background-color: #D8767B;
  }
}